@{
    ViewBag.Title = "TempPassword";
    Layout = "~/Views/Email/_Email.cshtml";
}

<tbody class="table-component">

    <tr>
        <td class="msg-content">
            <p class="user">Hello,</p>

            <p>We have generated new password for you.</p>

            <p>Password: <b>@ViewBag.Password</b></p>
        </td>
    </tr>
</tbody>

<tfoot class="table-component">
    <tr>
        <td>
            <a class="link-btn" href="https://localhost:44374/Authentication/ChangePassword">Notes Market Place</a>
        </td>
    </tr>
</tfoot>

